body {
  font-family: Arial, sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  font-size: 2vh;
  width: auto;
  
  background-image: url("https://i.imgur.com/ZpqiOJF.png");
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 4vh;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 900;
  z-index: 1;
  letter-spacing: 0.5px;
}

.container {
  text-align: center;
  max-width: calc(max(40vw, min(60vh, 80vw)));
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid #000;
  padding-bottom: 4vh;
}

.inner-sec {
	width: calc(100% - 4vh);
	height: 100%;
	background-color: rgba(255,255,255,0.25);
	padding: 2vh;
	flex-direction: column;
    justify-content: center;
}

.mainimage {
  width: 100%;
  margin-bottom: 2vh;
}

.link {
  color: black;
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5vh;
  margin: 0.5vh 0;
  font-size: 2vh;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo-bot {
  margin-top: 5vh;
  width: calc(max(10vw, 20vh));
  padding: calc(max(1vw, 2vh));
  background-color: rgba(0,0,0,0.25);
  border-radius: calc(max(1vw, 2vh));
}

@media (prefers-color-scheme: dark) {
  body {
	color: white;
  }
  section {
	border-bottom: 3px solid #FFF;
  }
  .link {
	  color: white;
  }
  .inner-sec {
	  background-color: rgba(0,0,0,0.25);
  }
}