body {
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  h2 {
	color: #FFF;
  }
  .link {
	color: #FFF;
  }
}

@media (prefers-color-scheme: light) {
  h2 {
	color: #000;
  }
  .link {
	color: #000;
  }
}

@media (min-aspect-ratio: 1/1) {
  body {
    background: url('https://i.imgur.com/f5GT8im.jpeg');
	background-size: 100% 100%;
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    background: url('https://i.imgur.com/xdJQ4ZU.jpeg');
	background-size: 100% 100%;
  }
}

h2 {
  font-size: 3vh;
}

.container {
  text-align: center;
  max-width: calc(max(20vw, 40vh));
  width: 100%;
}

.logo {
  width: calc(max(10vw, 20vh));
  height: auto;
  margin-bottom: 3vh;
  margin-top: 10vh;
}

.link {
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5vh;
  margin: 0.5vh 0;
  font-size: 2vh;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.logo-bot {
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: calc(max(10vw, 20vh));
}